<div class="container-fluid">

	<h1>Contact Information</h1>

	<h4>Address</h4>
  <p>123 N Bowling St. Alley, TN 38575</p>

	<h4>Phone</h4>
	<p> (987) 654- 3210</p>

	<h4>Email</h4>
	<p> bowling@pinaction.com</p>
</div>