// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
  background-image: url("https://hookertech.files.wordpress.com/2014/09/670px-bowl-step-12.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 50px;
	text-align: center;
}

//    navbar

.navbar {
	background-color: #B00;
	opacity: .75;
}

.navbar-default {
	background-color: #B00;
}

.projectName a {
	color: #1E90FF;
}

ul {
	padding-top: 0.1em;
	padding-right: 1em;
}

.navbar-default .navbar-nav li a {
	font-size: 14px;
	color: #FFF5EE;
}

.navbar-default .navbar-nav li a:hover {
	color: #000;
}

h1 {
	font-family: Raleway;
	color: #0F0F0F;
}

.prod-list {
	margin-left: 2em;
	display: inline;
}

//Code for a variation of a sticky footer

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}

.footer {
	background-color: #B00;
	opacity: .85;
	font-family: Raleway;
	font-size: 1em;
	clear: both;
	text-align: center;
	padding-top: 5px;
	z-index: 100;
}

.footer p {
	color: #F5F5F5;
}
