<!DOCTYPE html>
<html>
  <head>
    <title>App1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
    
      <div class="navbar-header">
        <div class="projectName navbar-brand">
          <a href="./index">Bowling Pro Shop</a>
        </div> <!-- projectName -->
      </div> <!-- end navbar-header -->
      <ul class="nav navbar-nav navbar-right">
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul> 
    </nav> <!-- end navbar --> 
    
    <%= yield %>

    <hr>

    <footer id="footer" class="footer">
        <p>&copy; 2017 10 Pin Action Pro Shop. All rights reserved.</p>
    </footer>

  </body>
</html>